td
  - if (typeof indicator !== 'undefined')
    - if (typeof indicator === 'object')
      div.flot-series-year
      - for (year in indicator)
        div.graph
        div.data
          span.year= year
          span.value= indicator[year]
          span.display= format(indicator[year], schema.properties[field].format)
    - else
      div.data= format(indicator, schema.properties[field].format)
