table
  tr
    - for (var key in schema.properties)
      th(id: 'field-' + key)= schema.properties[key].name
    - for (var key in records)
      tr
        - for (var field in schema.properties)
          != partial('value', [records[key][field]])
